<footer id="cs-footer">
  <div class="cs-container">
    <div class="cs-bottom">
      <span class="cs-credit">
        © Copyright 2024 <a href="" class="cs-credit-link" target="_blank"
          >RAD Consulting SRL</a
        >
      </span>
      <div class="cs-bottom-links">
        <!-- <a href="" class="cs-bottom-link">Terms & Conditions</a> -->
        <a href="/privacy-policy" class="cs-bottom-link">Privacy Policy</a>
        <!-- <span class="cs-divider"></span>
        <a href="/terms-conditions" class="cs-bottom-link">Terms & Conditions</a> -->
      </div>
        </div>
      </div>

  <style>


    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
      #cs-footer {
        padding: 20px 20px;
        /* 30px - 50px */
        padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
        position: relative;
      }
      #cs-footer .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 4.25rem;
      }
      #cs-footer .cs-logo-group {
        /* takes up all the space, lets the other ul's wrap below it */
        width: 100%;
        /* 40px - 60px */
        margin: 0 0 clamp(2.5rem, 7vw, 3.75rem);
        position: relative;
      }

      #cs-footer .cs-title {
        /* 31px - 39px */
        font-size: clamp(1.9375rem, 7vw, 3.0625rem);
        max-width: 23ch;
        margin: 3rem 0 0.5rem;
      }
      #cs-footer .cs-outline {
        /* 31px - 39px */
        font-size: clamp(1.9375rem, 1vw, 2.4375rem);
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1.2em;
        color: #fff;
        /* text outline styles */
        -webkit-text-stroke: 1px var(--primary);
      }
      #cs-footer .cs-header {
        font-size: 1.5625rem;
        font-weight: 700;
        line-height: 1.5em;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        display: block;
        position: relative;
      }
      #cs-footer .cs-logo {
        width: 13.5625rem;
        height: auto;
      }
      #cs-footer .cs-text {
        max-width: 25.75rem;
        margin: 1rem 0 0;
      }
      #cs-footer .cs-ul-wrapper {
        margin: 0 0 3.75rem;
      }
      #cs-footer .cs-ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
      }
      #cs-footer .cs-ul-contact {
        /* 32px - 40px */
        margin: clamp(2rem, 5vw, 2.5rem) 0 0;
        gap: 2rem;
      }
      #cs-footer .cs-li {
        list-style: none;
      }
      #cs-footer .cs-contact {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2em;
        text-decoration: none;
        color: var(--headerColor);
      }
      #cs-footer .cs-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-align: left;
        text-decoration: none;
        color: var(--bodyTextColor);
        display: inline-flex;
        align-items: flex-start;
        gap: 0.5rem;
        transition: color 0.3s;
      }
      #cs-footer .cs-link:hover {
        color: var(--primaryLight);
      }
      #cs-footer .cs-bottom {
        width: 100%;
        max-width: 80rem;
        /* 28px - 40px */
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0.75rem;
        justify-content: center;
      }
      #cs-footer .cs-credit,
      #cs-footer .cs-bottom-link,
      #cs-footer .cs-credit-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        width: auto;
        margin: 0;
        color: var(--bodyTextColor);
        display: inline-block;
        position: relative;
        transition: color 0.3s;
      }
      #cs-footer .cs-credit-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        width: auto;
        margin: 0;
        color: inherit;
        display: inline-block;
        position: relative;
      }
      #cs-footer .cs-credit-link:hover {
        color: var(--primary);
      }
      #cs-footer .cs-bottom-links {
        display: flex;
      }
      #cs-footer .cs-bottom-link {
        display: flex;
        align-items: center;
      }
      #cs-footer .cs-bottom-link:hover {
        color: var(--primary);
      }
      #cs-footer .cs-bottom-link:last-of-type:before {
        /* separator */
        /* content: ""; */
        width: 1px;
        height: 0.875rem;
        margin: 0 0.75rem;
        background: currentColor;
        opacity: 1;
        display: block;
      }
    }


    /* Desktop - 1024px */

    @media only screen and (min-width: 64rem) {
      #cs-footer .cs-container {
        justify-content: flex-end;
      }
      #cs-footer .cs-logo-group {
        width: fit-content;
        margin: 0;
        margin-right: auto;
      }
      #cs-footer .cs-ul-wrapper {
        margin: 0;
      }
      #cs-footer .cs-bottom {
        /* 60px - 80px */
        margin-top: clamp(3.75rem, 6vw, 5rem);
        justify-content: space-between;

      }
    }
  </style>
</footer>
