---

---

<section
  class="hero d-flex justify-content-center align-items-center text-white text-center"
>
  <div class="hero-bg"></div>
  <div class="container position-relative z-3">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h1 class="display-4 fw-bold mb-3">
          Your Goals, Our Expertise, Achieving Together
        </h1>
        <p class="lead mb-4"></p>
        <a href="#services-343" class="btn fw-bold btn-primary btn-lg">
          Discover Our Services
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .hero {
    position: relative;
    min-height: 100vh;
    padding: 150px 20px;
    overflow: hidden;
    background-attachment: fixed;
  }

  .btn-primary:hover {
    transition:
      transform 0.3s ease-in,
      box-shadow 0.3s ease-in;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/Background.webp") center/cover no-repeat;
    background-attachment: fixed;
    animation: zoomIn 0.5s ease-out;
    z-index: 0;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  @keyframes zoomIn {
    0% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
