---
import { Image } from "astro:assets";
import Logo from "/public/RAD_Logo_V2_1.webp";
---

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <Image src={Logo} alt="RAD Consulting Logo" height="40" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link" href="/#home">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/#our-process">Our Process</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/#services">Services</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/#about">About</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
      </ul>
      <a href="/#contact" class="btn btn-primary ms-lg-3">Contact Us</a>
    </div>
  </div>
</nav>

<style>
  .btn-primary:hover {
    transition:
      transform 0.3s ease-in,
      box-shadow 0.3s ease-in;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  /* Add underline effect on hover for navbar links */
  .navbar-nav .nav-link {
    position: relative;
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s ease;
  }

  .navbar-nav .nav-link:hover {
    color: var(--bs-primary); /* Optional: Change text color on hover */
  }

  .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: var(--bs-primary); /* Underline color */
    transition: width 0.3s ease;
  }

  .navbar-nav .nav-link:hover::after {
    width: 100%; /* Expand underline on hover */
  }
</style>
