---
import Navbar from "../../components/navbar.astro";
import Hero from "../../components/hero.astro";
import Services from "../../components/Services/services.astro";
import About from "../../components/about.astro";
import WhyChooseUs from "../../components/our-process.astro";
import Contact from "../../components/contact-us.astro";
import Footer from "../../components/footer.astro";
import "../global.css";
---

<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RAD Consulting</title>
    <link rel="icon" href="/RAD_Logo_V2_1.webp" type="image/x-icon" />

    <!-- Google tag (gtag.js) -->
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-HW0BVWR14C');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HW0BVWR14C"></script>
  </head>
  <body>
    <Navbar />
    <section id="home">
      <Hero />
    </section>
    <section id="services-343">
      <Services />
    </section>
    <section id="why-choose-us">
      <WhyChooseUs />
    </section>
    <section id="about">
      <About />
    </section>
    <section id="faq">
      <!-- FAQ goes here -->
    </section>
    <section id="contact">
      <Contact />
    </section>
    <Footer />
  </body>
</html>
