---
import Navbar from "../../components/navbar.astro";
import Hero from "../../components/hero.astro";
import Services from "../../components/Services/services.astro";
import "/root/rad-consulting-astro/components/global.css"; // Import the global CSS file
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RAD Consulting</title>
    <link rel="icon" href="public/V2.png" type="image/x-icon" />
    <link rel="stylesheet" href="/global.css" /> <!-- Link to the global CSS file -->
  </head>
  <body>
    <Navbar />
    <Hero />
    <Services />
  </body>
</html>
