---
import Navbar from "../../components/navbar.astro";
import Hero from "../../components/hero.astro";
import Services from "../../components/Services/services.astro";
import About from "../../components/about.astro";
import "/root/rad-consulting-astro/components/global.css"; // Import the global CSS file
import WhyChooseUs from "/root/rad-consulting-astro/components/WhyChooseUs.astro";
import Contact from "/root/rad-consulting-astro/components/contact-us.astro";
import Footer from "/root/rad-consulting-astro/components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RAD Consulting</title>
    <link rel="icon" href="public/V2.png" type="image/x-icon" />
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <Navbar />
    <section id="home">
      <Hero />
    </section>
    <section id="services-343">
      <Services />
    </section>
    <section id="why-choose-us">
      <WhyChooseUs />
    </section>
    <section id="about">
      <About />
    </section>
    <section id="faq">
    </section>
    <section id="contact">
      <Contact/>
    </section>
      <Footer/>
  </body>
</html>
